/* Web Fonts ----------------------- */
@font-face {
  font-family:'Abolition Regular';
  src: url('../fonts/abolition-regular-webfont.woff')format('woff');
}
/*menu style*/
nav {    
  display: block;
  text-align: center;
}
nav ul {
  margin: 0;
  padding:0;
  list-style: none;
}
.nav a {
  display:block; 
  background: #111; 
  color:#fff; 
  text-decoration: none;
  padding: .8em 1.8em;
  text-transform: uppercase;
  font-size: 80%;letter-spacing: 2px;
  text-shadow: 0 -1px 0 #000;
  position: relative;
}
.nav{  
  vertical-align: top; 
  display: inline-block;
  box-shadow: 1px -1px -1px 1px #000, -1px 1px -1px 1px #fff, 0 0 6px 3px #fff;
  border-radius:6px;
}
.nav li{position: relative;}
.nav > li { 
  float:left; 
  border-bottom: 4px #aaa solid; 
  margin-right: 1px; 
} 
.nav > li > a { 
  margin-bottom:1px;
  box-shadow:inset 0 2em .33em -.5em #555; 
}
.nav > li:hover , .nav > li:hover >a{  border-bottom-color:orange;}
.nav li:hover > a { color:orange; }
.nav > li:first-child  { border-radius: 4px 0 0 4px;} 
.nav > li:first-child>a{border-radius: 4px 0 0 0;}
.nav > li:last-child  { 
  border-radius: 0 0 4px 0; 
  margin-right: 0;
} 
.nav > li:last-child >a{border-radius: 0 4px 0 0; }
.nav li li a { margin-top:1px}



  .nav li a:first-child:nth-last-child(2):before { 
   content:""; 
   position: absolute; 
   height:0; 
   width: 0; 
   border: 5px solid transparent; 
   top: 50% ;
   right:5px;  
 }
  
 /* submenu positioning*/
.nav ul {
position: absolute;
white-space: nowrap;
border-bottom: 5px solid  orange;
z-index: 1;
left: -99999em;
}
.nav > li:hover > ul {
left: auto;
padding-top: 5px  ;
min-width: 100%;
}
.nav > li li ul {  border-left:1px solid #fff;}


.nav > li li:hover > ul { 
/* margin-left: 1px */
left: 100%;
top: -1px;
}
/* arrow hover styling */
.nav > li > a:first-child:nth-last-child(2):before { 
border-top-color: #aaa; 
}
.nav > li:hover > a:first-child:nth-last-child(2):before {
border: 5px solid transparent; 
border-bottom-color: orange; 
margin-top:-5px
}
.nav li li > a:first-child:nth-last-child(2):before {  
border-left-color: #aaa; 
margin-top: -5px
}
.nav li li:hover > a:first-child:nth-last-child(2):before {
border: 5px solid transparent; 
border-right-color: orange;
right: 10px; 
}

/* Base Styles --------------------- */
* {
  box-sizing: border-box;
}
html {
  font-size: 1.25em; /* 20px on most screens */
}
body{
margin:1rem;
color:#454959;  
font: 300 100%/1.5 'Work Sans' , sans-serif;
}


main{
  max-width: 1000px;
  margin:0 auto;
  hyphens: auto;

}
section{
  padding: 4rem 0;
  border-bottom: 1px dashed #9599a9;
}
a{
  color:#cc4e13;
  text-decoration: none;
}
h1 ,h2{
  font-family: 'Abolition Regular', Impact, Charcoal, sans-serif;
  font-weight: normal;
}
h1{
  font-size: 4rem;
  line-height: 1.1;
}
h1{
  text-shadow: 2px 3px 4px rgba(0, 10, 30, .5);
  }

h2{
  font-size: 2.5rem;
}
h2{
  text-shadow: 2px 3px 4px rgba(0, 10, 30, .5);
}


h3{
  font-size: 1.25rem;
}
img {
  width: 50%; /* responsive images */
  border-radius: 10px;
  border-bottom: 4px;

  
}



/* Main Styles --------------------- */
.title{
  letter-spacing: 1px;
  color:rgb(255, 248, 220);
  font-size: bold;  
  font-family:cursive;
  text-shadow: 2px 3px 4px rgba(0, 10, 30, .5);
  text-decoration: underline;
 
}
header{
  padding: 10vh 1rem;
  margin: -1rem -1rem 1rem;
  background: url(../img/tavolozza.jpg) center/cover no-repeat coral;
  /*background-blend-mode: hard-light;*/
  color:lightgoldenrodyellow;
  border-radius: 12px 12px 12px 12px;

}
.contento{
  padding: 25px;
  width: 100%;
  box-sizing: border-box;
  margin: 0 auto;
  float: left;
}
#modulo{
  border-top: solid 4px #000;
  border: solid 4px #000;
  padding: 15px;
  background: #343434;
  color: #fff;
  overflow: auto;
  margin-top: 40px;
}
#modulo h3{margin: 15px 0 25px;

  }
  #modulo ul{
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
  }
  #modulo ul li {
    padding: 10px 0;
    width: 50%;
    float: left;
    box-sizing: border-box;
  }
#modulo ul li.tre, #modulo ul li .quattro{
  float: none;
  clear: left;
  width: 100%;
}
#modulo ul li.uno{
  margin-right: 1%;
}
#modulo ul li.quattro{
  padding: 20px 0;
  text-align: center;
}
#modulo ul li label{
  display: block;
  padding-bottom: 5px;
  width: 50%;
}
#modulo ul li input{
  border: solid 2px #000;
  background: rgba(255, 255, 255, .25);
  color: #fff;
  float: left;
}
#modulo ul li .testo{
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
}
#modulo ul li textarea{
  padding: 10px;
  color: #fff;
  width: 100%;
  height: 100px;
  background: rgba(255, 255, 255, .25) ;
  border: solid 2px #000;
  box-sizing: border-box;
}
#modulo ul li .pulsante {
  color: #fff;
  background: #1796ad;
  border: solid 2px #000;
  padding: 12px 25px;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: bold;
  transition: 0.5s;
}
#modulo ul li .pulsante:hover{
  background: #000;
  color:#fff ;
  border: solid 2px #a3a3a3;
}
header,footer{
  text-align: center;
}
.img1{
  display:block;
  width: 350px;
  padding: .250rem 1rem;
  border-radius: 20px/10px;
  margin: 1rem auto;
  box-shadow: 3px 4px 5px rgba(0,10,30,.8);
  background-image: linear-gradient(rgb(186, 172, 219) 0%,rgb(118, 138, 226) 50%, rgb(84, 88, 105) 51%, rgb(135, 163, 241) 
    100%);
  color:rgb(12, 10, 10);
  text-align: center;
  font-size: 1rem; 
  cursor: pointer;
}
 #zoom-In img{
  transform: scale(1);
  transition: 0s ease-in-out;
}
 #zoom-In:hover img{
  transform: scale(1.5);

}
 
/* Media Queries ------------------- */
@media screen and (min-width: 720px){
 header{
  padding: 20vh 1rem;
   } 
   h1{
     font-size: 5rem;
   }
  h1::after{
     margin-top: 1rem;
   } 
   .title{
     font-size: 1rem ;
   }
   .intro{
     padding: 0 15%;
     font-size: 1.1 rem;
   }
   .img1{
     display:inline-block;
     width: 50%;
     margin-right: -4px;
     margin-bottom: 5px;
     
    
   }
   .img1:first-child{
     margin-right: calc(4% - 5px);
     margin-bottom: 4px;
   }
}

